//- Defaults
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

//- General
@import "minima/base";
@import "minima/layout";
@import "minima/syntax-highlighting";
