/*------------------------------------*\
  #DARK SKIN
\*------------------------------------*/

//- Overrides and new variables
$dark-brand-color:          #33a6e8 !default;
$dark-brand-color-light:    lighten($dark-brand-color, 25%) !default;
$dark-brand-color-dark:     darken($dark-brand-color, 15%) !default;
$dark-text-color:           #c8c8c8 !default;
$dark-background-color:     #202020 !default;
$dark-grey-color:           #9e9e9e !default;
$dark-grey-color-light:     lighten($dark-grey-color, 40%) !default;
$dark-grey-color-dark:      darken($dark-grey-color, 25%) !default;

//- General
$brand-color:               $dark-brand-color;
$brand-color-light:         $dark-brand-color-light;
$brand-color-dark:          $dark-brand-color-dark;
$text-color:                $dark-text-color;
$background-color:          $dark-background-color;
$grey-color:                $dark-grey-color;
$grey-color-dark:           $dark-grey-color-dark;

//- Post Info
.post-meta {
  color: $dark-grey-color;
}

//- Blockquote
blockquote {
  color: $dark-grey-color;
  border-left: 4px solid $dark-grey-color-light;
}

//- Tables
table {
  color: lighten($dark-text-color, 18%);
  border: 1px solid $dark-grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($dark-grey-color-light, 6%);
    }
  }
  th {
    background-color: lighten($dark-grey-color-light, 3%);
    border: 1px solid darken($dark-grey-color-light, 4%);
    border-bottom-color: darken($dark-grey-color-light, 12%);
  }
  td {
    border: 1px solid $dark-grey-color-light;
  }
}

//- Code
pre,
code {
  background-color: #303030;
  border: 1px solid $dark-grey-color-light;
}
